@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

* {
  margin: 0;
  font-family: "Quicksand";
  font-weight: 500;
  color: #333;
}

.App {
  max-width: 75%;
  margin: 40px auto;
  padding: 20px;
}

.nav {
  display: flex;
  padding: 20px;
  border-bottom: 1px solid black;
  padding-top: 2rem;
  position: sticky;
  z-index: 1;
  top: 0;
  background: white;
}

.links {
  margin-left: auto;
  font-size: 1.5rem;
}

.nav a {
  padding: 1rem;
  text-decoration: none;
}

.nav a:hover {
  text-decoration: underline;
}

.blogText {
  padding: 5px;
}

.blogText:hover {
  box-shadow: 0 1px 10px rgba(0,0,0,0.2);
  transform: scale(1.03);
  transition: all 0.2s ease-in-out;
}

.blogText h1 {
  padding: 5px;
}

.blogText h1 span {
  font-size: 120%;
  color: rgb(138, 34, 148);
}

#img {
  display: flex;
  justify-content: space-between;
}