@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

* {
  margin: 0;
  font-family: "Quicksand";
  font-weight: 500;
  font-size: 0.85rem;
  line-height: 1.5;
}

@media screen and (max-width: 45.5em) {
  * {
    font-size: 0.77rem;
    line-height: 1.4;
  }
}

.bg-c {
  background-color: rgb(240, 240, 240);
}

.App {
  min-height: 72vh;
  max-width: 93%;
  padding: 0 3vw;
}

.align-c {
  display: flex;
  align-items: center;
}

#heading {
  font-size: 300%;
  font-weight: 700;
  color: black;
  text-align: center;
}

.btn {
  max-height: 3rem;
  padding: 0.5rem 1.5rem 1.5rem 1.5rem;
  border-radius: 50px;
  border-color: rgb(4, 151, 201);
  border: 2px solid;
  background: white;
  color: rgb(4, 151, 201);
  font-size: 1.5rem;
  cursor: pointer;
}

.btn:hover {
  border-color: rgba(0,0,0,0);
  background: rgb(4, 151, 201);
  color: white
}